    *{
        margin:10px;
        padding:10px;
    }
    #div1{   
        background-color:yellow;
    }
    #div2{  
        background-color:palevioletred;
    }
    #div3{   
        background-color:slateblue;
    }
    #div4{
        position:absolute;
        right:600px;
        background-color:gray;
    }
    #div1, #div2, #div3,#div4{
        border:dashed;
    }
    body{
        background-color:darkseagreen;
    }
    h2{
        color:black;
        font-family:fantasy;
        text-align:center;
    }
    h3{
        color:red;
        font-family:monospace;
        text-align:center;
    }
    #getSnail{
        color:red;
        font-family:monospace;
        text-align:left;
    }
    p{
        color:blue;
        font-family:cursive;
        text-align:left;
    }
    nav{
        font-family:fantasy;
        text-align:center;
    }
    #petList{
        color:orange;
        font-size:larger ;
    }
    form{
        padding:20px;
        background-color:purple;
        font-style:normal;
        border-style:solid;
        border-color:green;
        border-width:20px;
        font-weight:900px;
    }
    input[type=button]{
        color: black;
        background-color:rgb(147, 200, 0);
        padding:5px;
    }
    #relative1{
        position:relative;
        left:500px;
        top:-10px;
    }
    .div3TextColor{
        color:yellow;
    }
